*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: top;
    /*777777777777777777777777777*/
}

h1,
h2,
h3,
h4 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

/*777777777777*/

body {
    font-family: Rubik;
    color: #616161;
}



.wrapper {
    min-width: 470px;
    /* padding: 0px 10px; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.content {
    max-width: 1057px;
    margin: 0 auto;
    padding: 0px 15px;
}


.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

}

.header_container {
    display: flex;
    height: 114px;
    align-items: center;
}

.header_logo {
    position: relative;
    z-index: 10;
}

.header_menu {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu_list {
    display: flex;
}

.menu_item {
    margin: 0px 40px 0px 0px;
}

.menu_link {
    color: #1b1b1b;
    font-family: Rubik;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 1px;
}

.menu_item a {
    color: #1b1b1b;
    font-family: Rubik;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 1px;
}

.header_button {
    flex: 0 0 22px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 13px 30px;
    color: wheat;
}

.btn {
    background-color: rgb(19, 55, 122);
}

.main {
    flex: 1 1 auto;
    min-width: 410px;
}

.icon_menu {
    display: none;
}



/* PC */

@media screen and (max-width:1087px) {
    .content {
        max-width: 970px;
    }
}

/* Tablet */

@media screen and (max-width:991px) {
    .content {
        max-width: 750px;
    }

    .header_container {
        min-height: 80px;

    }

    .header_button {
        flex: 0 0 100px;
    }


    .menu_item {
        margin: 0px 30px 0px 0px;
    }

    .header_logo {
        flex: 2 0 100px;
        display: flex;
    }

}

.close_icon,
.icon_menu {
    display: none;
}

/* Mobile */

@media screen and (max-width:767.98px) {

    .menu_body {

        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.623);
        padding: 80px 15px 30px 15px;
        transition: left 0.3s ease 0s;
        overflow: auto;


    }

    .header:target .menu_body {
        left: 0;
    }

    .header:target .icon_menu {
        display: none;
    }

    .header:target .close_icon {
        display: flex;
    }

    .header:target .menu_body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        /* background-color: white; */
    }

    .header_button .button {
        padding: 14px 20px;
    }

    .menu_list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu_link {
        color: rgb(44, 44, 44);
        font-size: 35px;
        font-weight: 500;
    }

    .menu_item {
        margin: 0px 0px 25px 0px;
    }

    .menu_item:last-child {
        margin-bottom: 0;
    }

    .content {
        max-width: 970px;
    }

    .icon_menu,
    .close_icon {
        position: relative;
        display: flex;
        flex: 0 0 30px;
        flex-direction: column;
        height: 18px;
        justify-content: space-between;
        margin: 0px 0px 0px 20px;

    }

    .close_icon {
        display: none;

    }

    .close_icon::before,
    .close_icon::after {
        content: "";
        background-color: black;
        height: 2px;

    }

    .close_icon::before {
        transform: rotate(29deg);
    }

    .close_icon::after {
        transform: rotate(-32deg);
    }

    .icon_menu::before,
    .icon_menu::after {
        content: "";
        height: 2px;
        transform-origin: 0 0;
        background-color: rgb(0, 0, 0);
    }

    .icon_menu span {
        height: 2px;
        background-color: black;
    }

}



/* ----------------------MAIN */

.main_header {
    max-width: 1157px;
    margin: 0 auto;
    height: 570px;
    background-image: url('../img/nikol-kidman-nicole-kidman-6408.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    filter: grayscale(100%);
}

.head_text {
    font-size: 40px;
    text-transform: uppercase;
    color: black;
    position: relative;
    letter-spacing: 7px;
}

.head_aft span::after {
    content: "";
    width: 36px;
    height: 4px;
    background-color: black;
    display: block;
    position: absolute;
    right: 3px;
    top: 22px;
    transform: rotate(-57deg);
}


.photod {
    color: #c0a9a9;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
}

.section_text {
    margin-top: 45px;
}

.perfect_header {
    margin: 20px 0px 20px 0px;
    font-size: 20px;
    color: rgb(80, 79, 79);
    font-weight: 400;
    font-style: italic;
}

.lor {
    line-height: 22px;
    margin: 0px 0px 45px 0px;
    width: 100%;
}


.section_image {
    min-width: 470px;
    margin: 38px 0px 10px 0px;
}

.block_header_img {
    width: 100%;
    /* height: 260px; */
    background-position: center;
    background-size: cover;
    /* padding: 0px 0px 30px 0px; */
}

.block_image {
    margin: 30px 0px;
}

.img_wi {
    width: 340px;
    height: 300px;
    object-fit: cover;
}

.models_chapt {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
    font-style: italic;
    line-height: 70px;
}

.models_text_header {
    width: 340px;
    text-align: justify;
    line-height: 25px;
    font-size: 18px;
    letter-spacing: 1px;
}

.section_btn {
    margin: 120px 0px 120px 0px;
    min-width: 470px;
}

.content_im_text {
    /* width: 100%; */
}

.input_content {
    width: 100%;
    min-height: 220px;
    background-color: rgba(170, 170, 170, 0.856);
}

#size_bts {
    background-color: inherit;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    margin: 20px 0px;
    padding: 2px 7px;
    position: relative;


}

.links {
    content: "geygh";
    transform: rotate(45deg);
    position: absolute;
    display: block;

    /* right: 120px; */

}

#size-bts {
    font-size: 10px;
}

.footer {
    display: flex;
    padding: 60px 0px;
    width: 100%;
    min-width: 470px;
    background-color: rgba(170, 170, 170, 0.856);
}

#size_bt {
    width: 160px;
    height: 54px;
    align-items: center;
    padding: 14px 0px 0px 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 0px;
    cursor: pointer;
}

/* ------------------------------------------- */

.input_wid {
    max-width: 860px;
    margin: 0 auto;
    padding: 0px 20px;
}

.content_block {
    /* width: 400px; */
    display: flex;
    justify-content: center;

}

.input_block {
    min-width: 500px;
    /* border: 1px solid black; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0px;

}

.sign_up {
    text-align: center;
    font-size: 28px;
    color: #292626;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    /* max-width: 360px; */
    width: 100%;
}

.siz_inp {
    font-size: 14px;
    width: 80%;
}

.links {
    position: absolute;
    right: 54px;
    bottom: 22px;
    color: #1b1b1b;
    transition: all 0.3s ease;

    /* left: 1px; */
}

.links:hover {

    color: white;
    

    /* left: 1px; */
}

.mb {
    position: relative;
}

.form-label {}

.form-control {}


/* ------------------------------------------------ */
.footer_container {
    width: 860px;
    margin: 0 auto;
    padding: 0px 20px;
}

.fot_last {
    /* flex: 0 1 200px; */
}

.fot_first {
    /* flex: 1 1 660px; */
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot_pad {
    margin: 20px;
}

.foot_pad a {
    color: #474747;
    font-size: 19px;
    font-weight: 400;
    margin-right: 20px;
}


@media screen and (max-width:600px) {
    .img_wi {
        width: 100%;
        height: 400px;
        background-position-y: top;
        object-fit: cover;
    }

    .footer_container {
        width: 460px;
        margin: 0 auto;
        padding: 0px 20px;
    }

    .input_block {
        min-width: 400px;
        /* border: 1px solid black; */
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 60px 0px;

    }


    .models_chapt {
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 700;
        font-style: italic;
        line-height: 70px;
        text-align: center;
    }

    .models_text_header {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}

@media screen and (max-width:762px) {
    .img_wi {
        width: 100%;
        height: 400px;
        background-position-y: top;
        object-fit: cover;
    }

    .footer_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    }

    .head_aft span {
        display: none;
    }

    .models_chapt {
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 700;
        font-style: italic;
        line-height: 70px;
        text-align: center;
    }

    .models_text_header {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}